body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
}